<h3 class="text-center fw-bold text-uppercase">
  Sessão {{id}}
</h3>
<div class="position-relative">
  <div class="viewer-wrapper" [class.blurred]="showSpinner">
    <div id="viewer" class="position-relative">
      <span class="d-block end-0 pe-3 position-absolute pt-2 text-end top-0">
        {{captureFpsStatus}}<br>
        {{playbackFpsStatus}}
        <div *ngIf="paused">Frame Timestamp: {{frameTimestamp}}</div>
      </span>
      <span class="d-block start-0 ps-3 position-absolute pt-2 text-start top-0">{{timestamp}}</span>
      <span class="bottom-0 d-block end-0 pb-2 pe-3 position-absolute text-end">{{statusMsg}}</span>
    </div>
    <div class="row" *ngIf="!showSpinner">
      <div class="col-md-4 col-sm-6 pt-4">
          <h4>Dados da sessão</h4> 
          <div>Sessão gravada em:</div>
          <div class="fw-bolder">{{sessionDate}} </div>
          <div>com uma duração de:</div>
          <div><span class="fw-bolder">{{sessionDuration}}</span> e <span class="fw-bolder">{{totalFrames}}</span> frames.</div>
          <div>(Animation frame ID:<span class="fw-bolder">{{requestId}}</span>)</div>
      </div>
      <div class="col-md-4 col-sm-6 pt-4">
          <h5>Dados de oportunidades</h5> 
          <p>Informação a adiccionar.</p>
          <h6>Playback</h6>
          <div class="mt-2 mb-2">
              <div class="btn-group me-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-outline-secondary"(click)="currentFrame = (currentFrame == 0)? totalFrames-1 : currentFrame -1 ">
                      <i class="bi bi-skip-backward-fill"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" (click)="paused = !paused">
                      <i class="bi bi-play-fill" *ngIf="paused"></i>
                      <i class="bi bi-pause-fill" *ngIf="!paused"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" (click)="currentFrame = (currentFrame + 1)% totalFrames">
                      <i class="bi bi-skip-forward-fill"></i>
                  </button>
              </div>
          </div>
          <h6>Velocidade Reprodução</h6>
          <div class="mt-2">
            <input type="range" class="custom-range" min="1" max="60" step="1" [(ngModel)]="fps" id="fps">
            <span> {{fps}} fps</span>
          </div>
      </div>
      <div class="col-md-4 col-sm-12 pt-4">
          <h5>Visualizador</h5>
          <h6>Estratégia de suavização</h6>
          <div class="form-check form-switch" *ngIf="false">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="smoothing"
              [ngModelOptions]="{standalone: true}" (change)="distance = !smoothing; rawData = false">
              <label class="form-check-label" for="flexSwitchCheckDefault">Velocidade max. (corpo)</label>
          </div> 
          <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="distance"
              [ngModelOptions]="{standalone: true}" (change)="smoothing = false; rawData = !distance">
              <label class="form-check-label" for="flexSwitchCheckDefault">Distância Central (corpo)</label>
          </div>  
          <div class="form-check form-switch" *ngIf="false">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="rawData"
              [ngModelOptions]="{standalone: true}" (change)="distance = !rawData; smoothing = false">
              <label class="form-check-label" for="flexSwitchCheckDefault">Sem suavização</label>
          </div>
          <div *ngIf="distance">
            <label for="customRange3">Limites de distância</label><br>
            <input type="range" class="custom-range" min="0" max="20" step="0.5" [(ngModel)]="actorMaxArea.x" id="actorMaxAreaX">
            <span> x: {{actorMaxArea.x}}</span><br>
            <input type="range" class="custom-range" min="0" max="202" step="0.5" [(ngModel)]="actorMaxArea.y" id="actorMaxAreaY">
            <span> y: {{actorMaxArea.y}}</span><br>
            <input type="range" class="custom-range" min="0" max="20" step="0.5" [(ngModel)]="actorMaxArea.z" id="actorMaxAreaZ">
            <span> z: {{actorMaxArea.z}}</span>
          </div>
      </div>
    </div>
  </div>
  <div class="position-absolute top-0 bottom-0 start-0 end-0" *ngIf="showSpinner">
    <div class="spinner-wrapper pt-5">
      <img class="m-auto d-block mt-5" style="width:60px" src="https://whymob.dev/ysmart/loading.gif">
      <span class="m-auto d-block mt-2 w-50 text-center text-secondary">Loading</span>
    </div>
  </div>
</div>


